[user]
	name = Frederic Morin
	email = frederic.morin.8@gmail.com

[alias]
	# master or main?
	defbranch = "!f() { test -n \"$1\" && r=\"$1\" || r=origin; \
      basename \"$(git rev-parse --abbrev-ref \"$r\"/HEAD)\"; }; f"
    # branch management
	br = "!f() { if [ $# -eq 0 ]; then git branch -vv --color | grep -E --color=always 'gone|$'; else git branch \"$@\"; fi; }; f"
	bru = branch --unset-upstream
	co = checkout
	coom = !git checkout "origin/$(git defbranch)"
	coomb = !git checkout "origin/$(git defbranch)" -b
	# drop the current scratch branch, only if it has no commits of its own
	coomd = "!f() { b=$(git symbolic-ref --quiet --short HEAD) || { echo 'not on a branch' >&2; return 1; }; \
      m=\"origin/$(git defbranch)\"; \
      n=$(git rev-list --count \"$m..$b\" --) || return 1; \
      test \"$n\" -eq 0 || { echo \"$b has $n commit(s) not in $m, refusing to delete\" >&2; return 1; }; \
      git checkout \"$m\" && git branch -D \"$b\"; }; f"
	reb = rebase -i --autosquash
	rebom = !git rebase -i --autosquash "origin/$(git defbranch)"
	rebort = rebase --abort
	rebcon = rebase --continue
	resh = reset --hard
	resom = !git reset "origin/$(git defbranch)"
	resomh = !git reset --hard "origin/$(git defbranch)"
	ls = ls-files
	lsg = !git ls-files | grep -i
	dom = !git diff "origin/$(git defbranch)"
	doms = !git diff --stat "origin/$(git defbranch)"
    # commit
	ci = commit
	ciaa = commit -a --amend --no-edit
	cim = "! f() { MSG=\"${@:-wip}\"; git add -A . && git commit -a -m \"$MSG\"; }; f"
	fixup = "! f() { SHA=\"${@}\"; git add -A . && git commit -a --fixup=\"$SHA\"; }; f"
	cp = cherry-pick
	st = status
    # upstream
	fop = fetch origin --prune --tags --recurse-submodules --jobs 6
	fopcoom = ! git fop && git coom
	fopcoomb = ! git fop && git coomb
	foprebom = ! git fop && git rebom
	fp = fetch origin --prune --tags
	subup = submodule update --init --recursive
	po = push origin
	pou = ! (git branch --unset-upstream || true) 2>/dev/null && git push --set-upstream --force origin
	pof = push origin --force-with-lease
    # history
	l = log --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' -n 16
	ll = log --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lm = ! git log --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' "origin/$(git defbranch)"..
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[color]
	ui = true
	status = auto
	branch = auto
	diff = true
[advice]
	pushNonFastForward = false
	statusHints = false
[core]
	editor = vim
	whitespace = trailing-space,space-before-tab
	# whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[init]
	defaultBranch = main
	# defaultBranch = master

[commit]
	# gpgsign = true

[merge]
	# tool = opendiff

[branch]
	autosetuprebase = always
	autosetupmerge = true

[diff]
	renames = copies
	mnemonicprefix = true
	colorMoved = zebra

[push]
	default = upstream
	autoSetupRemote = true

[merge]
	stat = true

[rebase]
	updateRefs = true

[fetch]
	prune = true

[pull]
	rebase = true

[gui]
	gcwarning = false

[include]
    path = .gitconfig.work
